[Desktop Entry]
Name=PCE Check Version
Exec=/bin/bash -c 'cd $HOME/pce-rpi; ./check-version.sh; echo; echo; read -p "This command has ended. Press Enter to close this window."'
Terminal=true
Type=Application
